body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 250px;
    height: 250px;
    gap: 15px;
}

.cell {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}